[Desktop Entry]
Name=Log Viewer
Comment=GTK4 journalctl frontend
Exec=log-viewer
Icon=io.github.yeager.LogViewer
Terminal=false
Type=Application
StartupWMClass=io.github.yeager.LogViewer
Categories=System;Utility;
